* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#internacional p{
    max-width: 500px;
    margin: 0;
}
#entretenimento p{
    max-width: 500px;
    margin: 0;
}
#esportes p{
    max-width: 500px;
    margin: 0;
} /* usei esse max-width para limitar o espaço que meu texto ocupa*/
body > header {
    background-color: #2f3640 ;
    padding: 20px 0;
} /*utilizando esse body > header, modifico apenas o cabeçalho principal*/
header .container{
    display: flex; /*usado para que um elemento fico do lado do outro*/
}

h1{
    color:red;
}
#esportes h2{
    color: blueviolet
}

.datacriacao {
    color:red
}


