* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header{
    background-color: #2f2f2f ;
    padding: 16px 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px ;
}
header li a{
    text-decoration: none;
    color: #fff;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
 .articles{
display: flex; 
/* se eu criasse alguns artigos a mais, eles iriam pra horizontal. Pra eu faze-lo ir pra linha de baixo, irei usar o comando da flex-box -> flex-wrap: wrap; */   
justify-content: space-between; /*eu usei 90% da largura e me sobrou 10% de espaço vago para a margem dos elementos. Esse comando distribui de forma igual o restante da margem para meus articles */
}

.articles article img{
    height: 180px; /*height é altura*/
    width: 100%; /*essa tag faz com que a largura da img seja 100% igual ao texto*/
}
 
.articles article {
    width: 40%;
}

section{
    padding: 8px;
}

section h2 {
    margin-bottom: 16px; /*essa é a margem inferior*/
}
section h3{
    margin-top: 15px;
} 

article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block; /* o elemento a possui por padrão a propriede inline, ai bloqueamos isso c esse comando*/
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

article a:hover {
    text-decoration: underline;
}

article p{
    font-family: Arial, Helvetica, sans-serif;
}

article h3 {
    font-size: 24px;
}

section h2{
    font-size: 32px;
}
#esportes {
    background-color: #94811986;
} 
#economia {
    background-color: rgba(0, 0, 200, 0.1);
}
#entretenimento, #internacional {
    background-color: rgba(0, 255, 0, 0.1);
}
#internacional {
    background-color: rgba(255, 0, 0, 1);
}
 /*na ordem da margin, 1° topo, 2° direita, 3° embaixo e 4° esquerda.*/
/* usei esse max-width para limitar o espaço que meu texto ocupa*/
/*utilizando esse body > header, modifico apenas o cabeçalho principal*/
/*usado para que um elemento fico do lado do outro*/
/* sobre posicionamento -> a posição pode ser absolute; para traze-la pro topo uso o top lembrando que 0 é o máximo. Se eu quiser levar pra esquerda, utilizo o left e 0 continua sendo o máximo. */